{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <h2>{{.h2}}</h2>
  </div>
</header>

<div class="container">
  <a href='{{url "Client.Index"}}' class="btn btn-warning">Back</a>
  <div class="row row-title">
    <div class="col-xs-6">
      <h4>Total Records: {{.count}}</h4>
    </div>
  </div>
  <div class="row row-title">
    <div class="col-xs-2">
      <div class="box">
        ID
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        Document
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        Full name
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        Nationality
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        Birthday
      </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
          Action
        </div>
    </div>
  </div>
  {{if .clients}}
    {{ range .clients}}
    <div class="row row-item">
      <div class="col-xs-2">
        <div class="box">
          {{.ID}}
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          {{.Ci}}
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          {{.First_name}} {{.Last_name}}
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          {{.Nationality}}
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          {{.BirthdayDateStr}}
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          <a href='{{ url "Client.Delete" .ID }}' class="btn btn-danger">Delete</a>
        </div>
        <div class="box">
          <a href='{{ url "Client.Edit" .ID }}' class="btn btn-warning">Update</a>
        </div>
      </div>
    </div>
    {{end}}
  {{else}}
    <h3>No se encontraron registros</h3>
  {{end}}
</div>


{{template "footer.html" .}}