{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <h2>{{.h2}}</h2>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div> 
  <a href='{{ url "Client.List" }}'class="btn btn-warning">Back</a>
  <div class="row row-title">
    <div class="col-xs-2">
      <div class="box">
        ID
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        Document
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        Firstname
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        Lastname
      </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
          Delete
        </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
          Update
        </div>
    </div>
  </div>
  {{if .client}}
    {{range .client}}
    <div class="row row-item">
      <div class="col-xs-2">
        <div class="box">
          {{.ID}}
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          {{.Ci}}
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          {{.First_name}}
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box">
          {{.Last_name}}
        </div>
      </div>
      <div class="col-xs-2">
          <div class="box">
            <a href='{{ url "Client.Delete" .ID }}' class="btn btn-danger">Delete</a>
          </div>
      </div>
      <div class="col-xs-2">
          <div class="box">
            <a href='{{ url "Client.Edit" .ID }}' class="btn btn-warning">Update</a>
          </div>
      </div>
    </div>
    {{end}}
  {{else}}
    <h2>{{.notFound}}</h2>
  {{end}}
</div>
{{template "footer.html" .}}